// 공통 스타일
.bodyWrap {
    display: flex;
    height: 100%;
    background-color: #24292e;
}
.pageWrap {
    height: 100%;
    width: calc(100% - 20vw);
    background-color: #24292e;
}
.pageWrap > * {
    color: #fff;
}

//******************************
//*        scroll bar          *
//******************************
body::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    background: var(--attributename-text-color-30); /* 스크롤바의 색상 */
}

body::-webkit-scrollbar-track {
    background: transparent;  /*스크롤바 뒷 배경 색상*/
    border: 1px solid var(--bottombar-hover-bg);
}
